.footer-section {
    padding: 5rem 0 0;
    background-color: $dark-gray;

    .content-block {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray;

        .footer-col {
            flex: 1;

            .footer-logo {
                width: 150px;
                margin-bottom: 2rem;
            }

            .title {
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 0.75rem;
                color: $primary-green;
            }

            .contact-info {
                padding: 0;
                list-style: none;
                margin: 1.5rem 0;

                .contact-link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: 0.5em;
                    text-decoration: none;
                    color: $white;

                    &.green {
                        color: $primary-green;

                        svg {
                            color: $white;
                        }
                    }
                }
            }

            .social-media {
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 2rem;

                .social-link {
                    text-decoration: none;
                    color: $dark-gray;
                    background-color: $white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
            }

            .footer-list {
                padding: 0;
                list-style: none;

                .footer-link {
                    text-decoration: none;
                    color: $white;
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: 0.5em;
                    display: inline-block;
                }
            }

            .footer-text {
                font-size: .8rem;
                font-weight: 300;
                color: $white;
            }
        }
    }

    .copyright {
        text-align: right;
        font-size: 0.75rem;
        font-weight: 300;
        padding: 1rem 0;
        color: $white;
        text-decoration: none;
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .footer-section {
        .content-block {
            flex-direction: column;

            .footer-col {
                text-align: center;

                .contact-info {
                    .contact-link {
                        justify-content: center;
                    }
                }
            }
        }

        .copyright {
            text-align: center;
        }
    }
}
