@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Apex';
    src: url('../fonts/custom/apex.woff2') format('woff2'),
        url('../fonts/custom/apex.woff') format('woff'),
        url('../fonts/custom/apex.ttf') format('truetype');
}

@import "utilities/variables";
@import "utilities/utilities";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

* {
    &::-moz-selection {
        color: $white;
        background: $primary-green;
    }

    &::selection {
        color: $white;
        background: $primary-green;
    }
}

// Pages
@import "landing_page/home";
@import "landing_page/support";

// Includes
@import "includes/footer";
@import "includes/nav";
