@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Apex';
    src: url('../fonts/custom/apex.woff2') format('woff2'),
        url('../fonts/custom/apex.woff') format('woff'),
        url('../fonts/custom/apex.ttf') format('truetype');
}

@import "utilities/variables";
@import "utilities/utilities";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    &::-moz-selection {
        color: $white;
        background: $primary-green;
    }

    &::selection {
        color: $white;
        background: $primary-green;
    }
}

body {
    background-color: #F9F9FB !important;

    .mobile-body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        position: relative;
    }
}

// Pages
@import "mobile/splash";
@import "mobile/join";
@import "mobile/home";
@import "mobile/donation_info";
@import "mobile/payment";
@import "mobile/success";
@import "mobile/profile_menu";
@import "mobile/donation_history";
@import "mobile/notification";
@import "mobile/thanks";

// Includes
@import "mobile/includes/bottom_nav";
@import "mobile/includes/top_nav";
@import "mobile/includes/form";
@import "mobile/includes/table";
@import "mobile/includes/profile";
