@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Apex';
    src: url('../fonts/custom/apex.woff2') format('woff2'),
        url('../fonts/custom/apex.woff') format('woff'),
        url('../fonts/custom/apex.ttf') format('truetype');
}

@import "utilities/variables";
@import "utilities/utilities";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    &::-moz-selection {
        color: $white;
        background: $primary-green;
    }

    &::selection {
        color: $white;
        background: $primary-green;
    }
}

body {
    background-color: #F9F9FB !important;

    .mobile-body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        position: relative;
    }
}

// Cookies Policy
.cookies-policy {
    position: fixed;
    bottom: 6rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    background: #fff;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 999;

    &.hide {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, 0) scale(0.8);
        transform-origin: center;
        transition: all 0.3s ease;
    }

    .content {
        margin-top: 10px;

        header {
            font-size: 1.1rem;
            font-weight: 600;
        }

        p {
            color: #858585;
            margin: 5px 0 20px 0;
            font-size: .8rem;
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                padding: 10px 20px;
                border: none;
                outline: none;
                color: #fff;
                font-size: .9rem;
                font-weight: 500;
                border-radius: 50px;
                background: $orange;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(0.97);
                }
            }

            .item {
                margin: 0 10px;
            }

            a {
                color: $orange;
                font-size: .9rem
            }
        }
    }
}


// Pages
@import "mobile/splash";
@import "mobile/join";
@import "mobile/home";
@import "mobile/donation_info";
@import "mobile/payment";
@import "mobile/success";
@import "mobile/profile_menu";
@import "mobile/donation_history";
@import "mobile/notification";
@import "mobile/thanks";
@import "mobile/events";
@import "mobile/help";
@import "mobile/individual_event";

// Includes
@import "mobile/includes/bottom_nav";
@import "mobile/includes/top_nav";
@import "mobile/includes/form";
@import "mobile/includes/table";
@import "mobile/includes/profile";
@import "mobile/includes/fileManager";
@import "mobile/includes/modals";
