// Variables
$primary-green: #1FC39E;
$text-black: #333;
$white: #fff;
$orange: #E78834;
$dark-gray: #353334;
$gray: #767676;
$light-gray: #ddd;
$blue: #00BDC4;
$dark-blue: #2699FB;
$purple: #C4004E;
$green: #3AC400;
$maroon: #971930;
$red: #FF0000;
$black: #222;
