.nic-modal {
    .modal-content {
        border: none;
        border-radius: 10px;
        overflow: hidden;

        .modal-header {
            flex-direction: column;
            background-color: $primary-green;

            .title {
                font-size: 1.25rem;
                font-weight: 400;
                color: $white;
            }

            p {
                font-size: .9rem;
                font-weight: 300;
                color: $white;
                margin: 0;
            }
        }

        .modal-body {
            padding: 2rem 1.5rem;

            .form-label {
                font-size: .9rem;
                font-weight: 300;
                color: $text-black;
            }

            .form-control {
                font-size: .9rem;
                font-weight: 300;
                color: $text-black;
                height: 40px;

                &::-webkit-file-upload-button {
                    height: 40px;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }

        .modal-footer {
            justify-content: center;

            .cta-btn {
                margin: auto;
                width: 150px;
                height: 40px;
                border-radius: 50px;
            }
        }
    }
}
