@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Apex";
  src: url("../fonts/custom/apex.woff2") format("woff2"), url("../fonts/custom/apex.woff") format("woff"), url("../fonts/custom/apex.ttf") format("truetype");
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #1FC39E;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  width: fit-content;
}
.btn-outline:hover, .btn-outline:focus {
  text-decoration: none;
  outline: none;
}
.btn-outline .btn-text {
  font-size: 0.9rem;
  font-weight: 300;
}
.btn-outline .bi {
  font-size: 1rem;
}
.btn-outline .btn-text {
  color: #1FC39E;
}
.btn-outline .bi {
  color: #1FC39E;
}

.btn-fill {
  background-color: #1FC39E;
  border: 1px solid #1FC39E;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  width: fit-content;
}
.btn-fill:hover, .btn-fill:focus {
  text-decoration: none;
  outline: none;
}
.btn-fill .btn-text {
  font-size: 0.9rem;
  font-weight: 300;
}
.btn-fill .bi {
  font-size: 1rem;
}
.btn-fill .btn-text {
  color: #fff;
}
.btn-fill .bi {
  color: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

*::-moz-selection {
  color: #fff;
  background: #1FC39E;
}
*::selection {
  color: #fff;
  background: #1FC39E;
}

.hero-section .hero-slider .slide-arrows .slide-arrow {
  background-color: #1FC39E;
  height: 2.5em;
  width: 2.5em;
  position: absolute;
}
.hero-section .hero-slider .slide-arrows .slide-arrow .bi {
  fill: #fff;
}
.hero-section .hero-slider .slide-arrows .slide-arrow.slide-arrow-next {
  height: 3.5em;
  width: 3.5em;
  right: 5rem;
}
.hero-section .hero-slider .slide-arrows .slide-arrow.slide-arrow-next .bi {
  width: 1.75em;
  height: 1.75em;
}
.hero-section .hero-slider .slide-arrows .slide-arrow.slide-arrow-prev {
  right: 9.5rem;
  left: unset;
}
.hero-section .hero-slider .splide__slide .slide {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 0;
}
.hero-section .hero-slider .splide__slide .slide.slide-1 {
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
.hero-section .hero-slider .splide__slide .slide .hero-img {
  width: 100%;
  max-width: 425px;
}
.hero-section .hero-slider .splide__slide .slide .content-block {
  max-width: 540px;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block {
  position: relative;
  margin-bottom: 2rem;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block .title {
  font-family: apex;
  font-size: 75px;
  color: #333;
  position: relative;
  z-index: 1;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block .title .dc {
  font-family: apex;
  font-size: 140px;
  color: #333;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle {
  font-size: 1.75rem;
  position: absolute;
  color: #333;
  font-weight: 400;
  z-index: 1;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle.subtitle-1 {
  bottom: 5%;
  left: 18%;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle.subtitle-2 {
  color: #1FC39E;
  bottom: 5%;
  left: 67%;
}
.hero-section .hero-slider .splide__slide .slide .content-block .title-block img {
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 0;
  width: 300px;
}
.hero-section .hero-slider .splide__slide .slide .content-block .text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.hero-section .hero-slider .splide__slide .slide .content-block .button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-slider .splide__slide .slide .content-block .button-block .cta-btn {
  width: 175px;
}
.hero-section .hero-slider .splide__pagination {
  bottom: 5%;
  right: 5%;
  left: unset;
  gap: 0.25em;
}
.hero-section .hero-slider .splide__pagination .splide__pagination__page {
  background-color: #ddd;
  width: 10px;
  height: 10px;
}
.hero-section .hero-slider .splide__pagination .splide__pagination__page.is-active {
  background-color: #1FC39E;
}
.hero-section .hero-slider .splide__progress {
  background-color: #ddd;
}
.hero-section .hero-slider .splide__progress .splide__progress__bar {
  background-color: #E78834;
}

.feature-section {
  margin: 5rem 0 10rem;
}
.feature-section .title-block {
  position: relative;
  margin-bottom: 5rem;
}
.feature-section .title-block .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  position: relative;
  z-index: 1;
}
.feature-section .title-block .title span {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1FC39E;
}
.feature-section .title-block img {
  position: absolute;
  width: 200px;
  left: 50%;
  bottom: -15%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.feature-section .content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.feature-section .content .feature-block {
  position: relative;
  flex: 1;
}
.feature-section .content .feature-block .feature-icon {
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1;
}
.feature-section .content .feature-block .feature-back {
  position: absolute;
  z-index: 0;
  bottom: -15%;
  right: 20%;
  width: 300px;
}
.feature-section .content .feature-block .title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 1;
}
.feature-section .content .feature-block .title-block .text {
  font-size: 22px;
  font-weight: 400;
  color: #333;
}
.feature-section .content .feature-block .title-block .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.feature-section .content .feature-block .title-block .icon.blue {
  background-color: #00BDC4;
}
.feature-section .content .feature-block .title-block .icon.purple {
  background-color: #C4004E;
}
.feature-section .content .feature-block .title-block .icon.green {
  background-color: #3AC400;
}
.feature-section .content .feature-block .text {
  color: #767676;
  font-size: 0.9rem;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

.gratitude-section {
  padding: 5rem 0;
  background: linear-gradient(to bottom, rgba(36, 38, 50, 0.92), rgba(36, 38, 50, 0.92)), url("../../images/landing-page/home/gratitude-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gratitude-section .inner-wrapper {
  display: flex;
  flex-direction: row;
}
.gratitude-section .inner-wrapper .image-block {
  flex: 0 0 55%;
}
.gratitude-section .inner-wrapper .image-block img {
  width: 100%;
}
.gratitude-section .inner-wrapper .content-block {
  flex: 0 0 45%;
  padding: 0 2rem;
}
.gratitude-section .inner-wrapper .content-block .title-block {
  position: relative;
  margin-bottom: 5rem;
}
.gratitude-section .inner-wrapper .content-block .title-block .title {
  font-family: "Apex";
  font-size: 100px;
  text-align: right;
  margin-right: 5rem;
  color: #fff;
  line-height: 1;
  position: relative;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, 0);
  z-index: 1;
}
.gratitude-section .inner-wrapper .content-block .title-block .subtitle {
  font-family: "Apex";
  font-size: 65px;
  text-align: right;
  color: #fff;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.gratitude-section .inner-wrapper .content-block .title-block img {
  position: absolute;
  z-index: 0;
  width: 200px;
  left: 40%;
  bottom: -20%;
}
.gratitude-section .inner-wrapper .content-block .text {
  text-align: right;
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
}

.kindness-section {
  margin: 5rem 0;
}
.kindness-section .title-block {
  position: relative;
  margin: 0 auto 5rem;
  width: fit-content;
}
.kindness-section .title-block .title {
  font-family: "Apex";
  font-size: 50px;
  color: #333;
  line-height: 1;
  text-align: center;
  position: relative;
  z-index: 1;
}
.kindness-section .title-block .subtitle {
  font-size: 22px;
  font-weight: 400;
  color: #333;
  line-height: 1;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kindness-section .title-block .subtitle span {
  color: #333;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}
.kindness-section .title-block img {
  position: absolute;
  bottom: -15%;
  left: 0;
  width: 200px;
  z-index: 0;
}
.kindness-section .card-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.kindness-section .card-block .card {
  flex: 0 0 30%;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: hidden;
  min-width: 300px;
}
.kindness-section .card-block .card.active {
  border: 2px solid #1FC39E;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}
.kindness-section .card-block .card .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin: 0 auto 1rem;
}
.kindness-section .card-block .card .icon.blue {
  background-color: #00BDC4;
}
.kindness-section .card-block .card .icon.purple {
  background-color: #C4004E;
}
.kindness-section .card-block .card .icon.green {
  background-color: #3AC400;
}
.kindness-section .card-block .card .name {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
.kindness-section .card-block .card .location {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 0.5rem;
}
.kindness-section .card-block .card .text {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
}
.kindness-section .card-block .card .btn-fill {
  margin: auto;
}
.kindness-section .button-block {
  margin-top: 3rem;
  text-align: center;
}
.kindness-section .button-block .cta-btn {
  margin: auto;
}
.kindness-section .pagination-block {
  margin-top: 5rem;
}
.kindness-section .pagination-block .pagination .page-item .page-link {
  color: #1FC39E;
}
.kindness-section .pagination-block .pagination .page-item.disabled .page-link {
  color: #767676;
}

.news-section {
  padding: 5rem 0;
  position: relative;
}
.news-section::before {
  content: "";
  width: 65%;
  height: 2px;
  background-color: #E78834;
  position: absolute;
  top: 0;
  right: 0;
}
.news-section .title-block {
  position: relative;
  width: fit-content;
  margin: 0 auto 5rem;
}
.news-section .title-block .title {
  font-family: "Apex";
  font-size: 50px;
  text-align: center;
  line-height: 1;
  color: #333;
  position: relative;
  z-index: 1;
}
.news-section .title-block .subtitle {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  color: #333;
  position: relative;
  z-index: 1;
}
.news-section .title-block img {
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.news-section .content-block {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.news-section .content-block .feature-news {
  width: 55%;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide {
  position: relative;
  width: 100%;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link {
  text-decoration: none;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link .feature-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link .content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  width: 95%;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0);
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link .content .title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link .content .date {
  font-size: 0.75rem;
  font-weight: 400;
  color: #1FC39E;
}
.news-section .content-block .feature-news .news-slider .splide__slide .news-slide .slide-link .content .text {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #767676;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-section .content-block .news-list {
  flex: 1;
}
.news-section .content-block .news-list .news-item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.news-section .content-block .news-list .news-item .news-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.news-section .content-block .news-list .news-item .news-link .news-img {
  width: 35%;
  object-fit: cover;
  object-position: center;
}
.news-section .content-block .news-list .news-item .news-link .content .title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.news-section .content-block .news-list .news-item .news-link .content .date {
  font-size: 0.75rem;
  font-weight: 400;
  color: #1FC39E;
}
.news-section .content-block .news-list .news-item .news-link .content .text {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #767676;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 991px) {
  .hero-section .hero-slider .splide__slide .slide .content-block {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem 1rem;
    text-align: center;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .button-block {
    justify-content: center;
  }
  .hero-section .hero-slider .splide__pagination {
    right: 50%;
    transform: translate(50%, 0);
  }

  .feature-section .content {
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 3rem;
  }
  .feature-section .content .feature-block {
    text-align: center;
  }
  .feature-section .content .feature-block .title-block {
    justify-content: center;
  }

  .gratitude-section .inner-wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .gratitude-section .inner-wrapper .content-block .text {
    text-align: center;
  }

  .news-section .content-block {
    flex-direction: column;
  }
  .news-section .content-block .feature-news {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .hero-section .hero-slider .splide__slide .slide .content-block {
    width: 95%;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block .title {
    font-size: 40px;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block .title .dc {
    font-size: 80px;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle {
    position: relative;
    text-align: center;
    font-size: 1rem;
    transform: translate(0, -20px);
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle.subtitle-1 {
    left: unset;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block .subtitle.subtitle-2 {
    left: unset;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .title-block img {
    bottom: 10px;
    left: 30%;
    width: 150px;
  }
  .hero-section .hero-slider .splide__slide .slide .content-block .button-block {
    flex-direction: column;
  }

  .gratitude-section .inner-wrapper .content-block .title-block .title {
    font-size: 72px;
  }
  .gratitude-section .inner-wrapper .content-block .title-block .subtitle {
    font-size: 46px;
  }
  .gratitude-section .inner-wrapper .content-block .title-block img {
    width: 150px;
    left: 10%;
  }

  .kindness-section .title-block .title {
    font-size: 40px;
  }
  .kindness-section .title-block .subtitle {
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .news-section .title-block .title {
    font-size: 40px;
  }
}
.support-hero-section {
  width: 100%;
  height: 100vh;
  background: url("../../images/landing-page/support/hero-back.png");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  overflow: hidden;
}
.support-hero-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.support-hero-section .inner-wrapper .content-block {
  flex: 0 0 45%;
  align-self: center;
}
.support-hero-section .inner-wrapper .content-block .title-block {
  position: relative;
  margin-bottom: 3rem;
}
.support-hero-section .inner-wrapper .content-block .title-block .title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #333;
  position: relative;
  z-index: 1;
}
.support-hero-section .inner-wrapper .content-block .title-block .title span {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1FC39E;
}
.support-hero-section .inner-wrapper .content-block .title-block img {
  width: 225px;
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: 0;
}
.support-hero-section .inner-wrapper .content-block .text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #333;
}
.support-hero-section .inner-wrapper .content-block .button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.support-hero-section .inner-wrapper .content-block .button-block .cta-btn {
  width: 175px;
}
.support-hero-section .inner-wrapper .image-block {
  flex: 1;
  align-self: flex-end;
  position: relative;
}
.support-hero-section .inner-wrapper .image-block img {
  position: absolute;
  bottom: 0;
}

.campaign-section {
  margin: 5rem 0;
}
.campaign-section .title-block {
  position: relative;
  margin-bottom: 5rem;
}
.campaign-section .title-block .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  position: relative;
  z-index: 1;
}
.campaign-section .title-block .title span {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1FC39E;
}
.campaign-section .title-block img {
  position: absolute;
  width: 200px;
  left: 50%;
  bottom: -15%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.campaign-section .campaign-slider .splide__slide.is-active .campaign-slide .campaign-card {
  filter: drop-shadow(0 0 5px rgba(31, 195, 158, 0.25));
}
.campaign-section .campaign-slider .splide__slide .campaign-slide {
  overflow: hidden;
  max-width: 325px;
  position: relative;
  margin: auto;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .circle.purple {
  background-color: #C4004E;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .circle.blue {
  background-color: #00BDC4;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .circle.green {
  background-color: #3AC400;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card {
  margin: 37px 1rem 1rem;
  padding: 37px 1rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card::before {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin: -80px auto 0;
  box-shadow: 0 0 0 3000px #fff;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .title {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin: 1.5rem 0 1rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .text {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #333;
  margin-bottom: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .range-bar {
  width: 100%;
  height: 4px;
  border-radius: 50px;
  background-color: #ddd;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .range-bar .range {
  width: 85%;
  height: 100%;
  border-radius: 50px;
  background-color: #1FC39E;
  position: relative;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .range-bar .range::before {
  content: "85%";
  font-size: 0.7rem;
  font-weight: 400;
  color: #333;
  position: absolute;
  right: -5px;
  top: -20px;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .range-bar .range::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;
  height: 15px;
  background-color: #1FC39E;
  border-radius: 50%;
  border: 2px solid #fff;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 1.5rem;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block {
  flex: 1;
  padding: 5px;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block:not(:nth-last-child(1)) {
  border-right: 1px solid #ddd;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block.green > * {
  color: #1FC39E;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block.blue > * {
  color: #00BDC4;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block.gray > * {
  color: #767676;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block .title {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block .amount {
  font-size: 1rem;
  font-weight: 300;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .campaign-info .info-block .amount .currency {
  font-size: 0.7rem;
  font-weight: 300;
  margin-right: 0.5em;
}
.campaign-section .campaign-slider .splide__slide .campaign-slide .campaign-card .cta-btn {
  margin: auto;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow {
  background-color: #1FC39E;
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  border: 1px solid #1FC39E;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow .bi {
  fill: #fff;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-next {
  height: 3.5em;
  width: 3.5em;
  left: 52.5%;
  transform: translate(-50%, 0);
  bottom: -5rem;
  top: unset;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-next .bi {
  width: 1.75em;
  height: 1.75em;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-prev {
  left: 47.5%;
  transform: translate(-50%, -6px);
  bottom: -5rem;
  top: unset;
  background-color: transparent;
  border: 1px solid #333;
}
.campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-prev .bi {
  fill: #333;
}
.campaign-section .button-block {
  margin-top: 7rem;
}
.campaign-section .button-block .cta-btn {
  margin: auto;
}

.package-section {
  padding: 5rem 0 10rem;
}
.package-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.package-section .inner-wrapper .content-block {
  flex: 1;
}
.package-section .inner-wrapper .content-block .subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  color: #333;
}
.package-section .inner-wrapper .content-block .title {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}
.package-section .inner-wrapper .content-block .title span {
  font-size: 2rem;
  font-weight: 400;
  color: #1FC39E;
}
.package-section .inner-wrapper .content-block .text {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 3rem;
}
.package-section .inner-wrapper .package-block {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.package-section .inner-wrapper .package-block .package-card {
  max-width: 250px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.package-section .inner-wrapper .package-block .package-card .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin: 0 auto 1rem;
}
.package-section .inner-wrapper .package-block .package-card .icon.blue {
  background-color: #00BDC4;
  box-shadow: 0 0 0 5px rgba(0, 189, 196, 0.25);
}
.package-section .inner-wrapper .package-block .package-card .icon.purple {
  background-color: #C4004E;
  box-shadow: 0 0 0 5px rgba(196, 0, 78, 0.25);
}
.package-section .inner-wrapper .package-block .package-card .icon.green {
  background-color: #3AC400;
  box-shadow: 0 0 0 5px rgba(58, 196, 0, 0.25);
}
.package-section .inner-wrapper .package-block .package-card .title {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #333;
}
.package-section .inner-wrapper .package-block .package-card .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}

@media screen and (max-width: 1199px) {
  .support-hero-section {
    background-position: center bottom;
    height: auto;
  }
  .support-hero-section .inner-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding: 5rem 0;
    height: auto;
  }
  .support-hero-section .inner-wrapper .content-block {
    max-width: 540px;
    width: 100%;
  }
  .support-hero-section .inner-wrapper .content-block .title-block {
    text-align: center;
  }
  .support-hero-section .inner-wrapper .content-block .title-block img {
    left: 30%;
  }
  .support-hero-section .inner-wrapper .content-block .text {
    text-align: center;
  }
  .support-hero-section .inner-wrapper .content-block .button-block {
    justify-content: center;
  }
  .support-hero-section .inner-wrapper .image-block {
    margin-bottom: 3rem;
  }
  .support-hero-section .inner-wrapper .image-block img {
    position: unset;
    width: 80%;
  }

  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-next {
    left: 53.5%;
  }
  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-prev {
    left: 46.5%;
  }

  .package-section .inner-wrapper {
    flex-direction: column;
    gap: 5rem;
  }
  .package-section .inner-wrapper .content-block {
    text-align: center;
    max-width: 540px;
  }
  .package-section .inner-wrapper .content-block .cta-btn {
    margin: auto;
  }
  .package-section .inner-wrapper .package-block {
    max-width: 540px;
  }
}
@media screen and (max-width: 767px) {
  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-next {
    left: 56.5%;
  }
  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-prev {
    left: 43.5%;
  }
}
@media screen and (max-width: 540px) {
  .support-hero-section .inner-wrapper .content-block .title-block .title {
    font-size: 1.5rem;
  }
  .support-hero-section .inner-wrapper .content-block .title-block .title span {
    font-size: 1.5rem;
  }
  .support-hero-section .inner-wrapper .content-block .title-block img {
    left: 20%;
    bottom: -35%;
  }
  .support-hero-section .inner-wrapper .content-block .button-block {
    flex-direction: column;
  }
  .support-hero-section .inner-wrapper .image-block img {
    position: unset;
    width: 100%;
  }

  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-next {
    left: 60%;
  }
  .campaign-section .campaign-slider .slide-arrows .slide-arrow.slide-arrow-prev {
    left: 40%;
  }
}
.section-join {
  padding: 10rem 0;
}
.section-join .inner-wrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(31, 195, 158, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
.section-join .inner-wrapper .content-block {
  flex: 1;
  padding: 5rem 2rem;
}
.section-join .inner-wrapper .content-block .logo {
  display: block;
  width: 150px;
  margin: auto;
  margin-bottom: 3rem;
}
.section-join .inner-wrapper .content-block .join-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row.hidden-row {
  display: none;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .form-label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  color: #333;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .form-control {
  border: 1px solid #E4E7EB;
  background-color: #FCFDFE;
  font-weight: 400;
  color: #333;
  height: 50px;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .form-control::placeholder {
  font-size: 1rem;
  font-weight: 300;
  color: #767676;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .form-control:focus, .section-join .inner-wrapper .content-block .join-form .join-form-row .form-control:active {
  outline: none;
  box-shadow: none;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .cta-btn {
  width: 100%;
  margin-top: 1rem;
  height: 50px;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .iti--allow-dropdown {
  width: 100%;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check {
  margin: 0;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check .form-check-input {
  cursor: pointer;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check .form-check-input:active, .section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check .form-check-input:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #1FC39E;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check .form-check-input:checked {
  background-color: #1FC39E;
  border: 1px solid #1FC39E;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper .form-check .form-check-label {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .wrapper a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #1FC39E;
  text-decoration: none;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .alert {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ff0000;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.section-join .inner-wrapper .content-block .join-form .join-form-row .alert .close {
  display: none;
}
.section-join .inner-wrapper .content-block .not-join {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 5rem;
  color: #333;
}
.section-join .inner-wrapper .content-block .not-join a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #1FC39E;
  text-decoration: none;
}
.section-join .inner-wrapper .image-block {
  flex: 1;
  background: url("../../images/landing-page/join/join-back.svg"), linear-gradient(to bottom, #1fc39e, #1fc39e);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-join .inner-wrapper .image-block img {
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 991px) {
  .section-join .inner-wrapper {
    flex-direction: column-reverse;
  }
  .section-join .inner-wrapper .image-block {
    padding: 3rem 0;
  }
  .section-join .inner-wrapper .image-block img {
    width: 40%;
  }
}
@media screen and (max-width: 540px) {
  .section-join .inner-wrapper .content-block {
    padding: 5rem 1rem;
  }
  .section-join .inner-wrapper .image-block img {
    width: 70%;
  }
}
.section-payment {
  padding: 10rem 0;
}
.section-payment .inner-wrapper {
  background-color: #F4F8FF;
  padding: 2rem 3rem;
  border-radius: 10px;
}
.section-payment .inner-wrapper .title {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #333;
}
.section-payment .inner-wrapper .content-block {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.section-payment .inner-wrapper .content-block .card-block {
  flex: 1;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row:nth-child(1) {
  flex-wrap: wrap;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row:nth-child(1) .form-control {
  flex: 0 0 100%;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .label-group {
  flex: 1;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .label-group .label {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .label-group .sub-label {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .form-control,
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .card-input-group,
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .package-slider {
  flex: 0 0 55%;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .card-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.section-payment .inner-wrapper .content-block .card-block .row-wrapper .card-row .card-input-group span {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
.section-payment .inner-wrapper .content-block .info-block {
  flex: 0 0 30%;
}

.footer-section {
  padding: 5rem 0 0;
  background-color: #353334;
}
.footer-section .content-block {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #767676;
}
.footer-section .content-block .footer-col {
  flex: 1;
}
.footer-section .content-block .footer-col .footer-logo {
  width: 150px;
  margin-bottom: 2rem;
}
.footer-section .content-block .footer-col .title {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  color: #1FC39E;
}
.footer-section .content-block .footer-col .contact-info {
  padding: 0;
  list-style: none;
  margin: 1.5rem 0;
}
.footer-section .content-block .footer-col .contact-info .contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: #fff;
}
.footer-section .content-block .footer-col .contact-info .contact-link.green {
  color: #1FC39E;
}
.footer-section .content-block .footer-col .contact-info .contact-link.green svg {
  color: #fff;
}
.footer-section .content-block .footer-col .social-media {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-section .content-block .footer-col .social-media .social-link {
  text-decoration: none;
  color: #353334;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.footer-section .content-block .footer-col .footer-list {
  padding: 0;
  list-style: none;
}
.footer-section .content-block .footer-col .footer-list .footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.5em;
  display: inline-block;
}
.footer-section .content-block .footer-col .footer-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}
.footer-section .copyright {
  text-align: right;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  display: block;
}

@media screen and (max-width: 991px) {
  .footer-section .content-block {
    flex-direction: column;
  }
  .footer-section .content-block .footer-col {
    text-align: center;
  }
  .footer-section .content-block .footer-col .contact-info .contact-link {
    justify-content: center;
  }
  .footer-section .copyright {
    text-align: center;
  }
}
.navigation-bar {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navigation-bar.active {
  background-color: white;
}
.navigation-bar .navbar-brand .logo {
  width: 120px;
}
.navigation-bar .navbar-collapse .navbar-nav {
  gap: 1rem;
  align-items: center;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #1FC39E;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item .nav-link.cta-btn {
  width: 125px;
  text-align: center;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #1FC39E;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .drop-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .drop-profile img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .drop-profile .name {
  font-size: 0.9rem;
  font-weight: 400;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .dropdown-menu {
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  padding: 1rem 0;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .dropdown-menu::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #1FC39E;
  position: absolute;
  top: 0;
  left: 0;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .dropdown-menu .dropdown-item .profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #767676;
}
.navigation-bar .navbar-collapse .navbar-nav .nav-item.nav-drop .dropdown-menu .dropdown-item:hover .profile-link {
  color: #333;
}

@media screen and (max-width: 1199px) {
  .navigation-bar {
    background-color: white;
  }
  .navigation-bar .navbar-collapse {
    margin: 1rem 0;
  }
  .navigation-bar .navbar-collapse .navbar-nav {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
