@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Apex";
  src: url("../fonts/custom/apex.woff2") format("woff2"), url("../fonts/custom/apex.woff") format("woff"), url("../fonts/custom/apex.ttf") format("truetype");
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #1FC39E;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  width: fit-content;
}
.btn-outline:hover, .btn-outline:focus {
  text-decoration: none;
  outline: none;
}
.btn-outline .btn-text {
  font-size: 0.9rem;
  font-weight: 300;
}
.btn-outline .bi {
  font-size: 1rem;
}
.btn-outline .btn-text {
  color: #1FC39E;
}
.btn-outline .bi {
  color: #1FC39E;
}

.btn-fill {
  background-color: #1FC39E;
  border: 1px solid #1FC39E;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  width: fit-content;
}
.btn-fill:hover, .btn-fill:focus {
  text-decoration: none;
  outline: none;
}
.btn-fill .btn-text {
  font-size: 0.9rem;
  font-weight: 300;
}
.btn-fill .bi {
  font-size: 1rem;
}
.btn-fill .btn-text {
  color: #fff;
}
.btn-fill .bi {
  color: #fff;
}

.mobile-container {
  width: 90%;
  margin: auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

*::-moz-selection {
  color: #fff;
  background: #1FC39E;
}
*::selection {
  color: #fff;
  background: #1FC39E;
}

body {
  background-color: #F9F9FB !important;
}
body .mobile-body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}

.splash-hero-section .splash-slider .splide__slide .slide {
  width: 100%;
  height: 50vh;
  background-position: bottom center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.splash-hero-section .splash-slider .splide__slide .slide .caption {
  position: absolute;
  right: 15%;
  bottom: 15%;
}
.splash-hero-section .splash-slider .splide__slide .slide .caption .subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #971930;
  text-align: right;
}
.splash-hero-section .splash-slider .splide__slide .slide .caption .title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #971930;
  letter-spacing: 5px;
  text-align: right;
  line-height: 1;
}
.splash-hero-section .splash-slider .pagination .indicator {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.splash-hero-section .splash-slider .pagination .indicator.is-active {
  background-color: #971930;
  transform: scale(1);
  width: 35px;
  border-radius: 50px;
  opacity: 1;
}

.splash-body-section {
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.splash-body-section .text-block {
  text-align: center;
  margin: 3rem 0 0;
}
.splash-body-section .text-block .subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}
.splash-body-section .text-block .title {
  font-size: 1.75rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.75rem;
}
.splash-body-section .text-block .text {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}
.splash-body-section .button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F9FF;
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0);
}
.splash-body-section .button-block .cta-btn {
  flex: 1 1 100%;
  height: 50px;
  border-radius: 8px;
}
.splash-body-section .button-block .btn-outline {
  border: 1px solid transparent;
  background-color: #F6F9FF;
}
.splash-body-section .button-block .btn-outline .btn-text {
  color: #ACACAC;
}

.join-header-section {
  text-align: center;
  padding: 3rem 0 2rem;
}
.join-header-section .logo {
  width: 200px;
  margin-bottom: 1rem;
}
.join-header-section .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
}
.join-header-section .text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}

.join-form-section .join-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.join-form-section .join-form .join-form-row.hidden-row {
  display: none;
}
.join-form-section .join-form .join-form-row .form-control {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.join-form-section .join-form .join-form-row .form-control::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color: #B7B7B7;
}
.join-form-section .join-form .join-form-row .form-control:focus, .join-form-section .join-form .join-form-row .form-control:active {
  outline: none;
  box-shadow: none;
}
.join-form-section .join-form .join-form-row .cta-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
}
.join-form-section .join-form .join-form-row .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.join-form-section .join-form .join-form-row .wrapper .form-check {
  margin: 0;
}
.join-form-section .join-form .join-form-row .wrapper .form-check .form-check-input {
  cursor: pointer;
  background-color: transparent;
}
.join-form-section .join-form .join-form-row .wrapper .form-check .form-check-input:active, .join-form-section .join-form .join-form-row .wrapper .form-check .form-check-input:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #1FC39E;
}
.join-form-section .join-form .join-form-row .wrapper .form-check .form-check-input:checked {
  background-color: #1FC39E;
  border: 1px solid #1FC39E;
}
.join-form-section .join-form .join-form-row .wrapper .form-check .form-check-label {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
}
.join-form-section .join-form .join-form-row .wrapper a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #1FC39E;
  text-decoration: none;
}
.join-form-section .join-form .join-form-row .iti--allow-dropdown {
  width: 100%;
}
.join-form-section .devider {
  position: relative;
  margin: 2rem 0;
  z-index: 0;
}
.join-form-section .devider::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.join-form-section .devider .text {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  background-color: #F9F9FB;
  z-index: 1;
  width: fit-content;
  margin: auto;
  padding: 0 1em;
}
.join-form-section .social-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.join-form-section .social-login a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.join-form-section .social-login a .text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #353334;
}
.join-form-section .not-join {
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  margin: 5rem 0;
  color: #333;
}
.join-form-section .not-join a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 300;
  color: #2699FB;
}

.top-nav-section {
  background-color: #F9F9FB;
  padding: 10px 0;
  position: static;
  top: 0;
}
.top-nav-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-nav-section .inner-wrapper .brand {
  text-decoration: none;
}
.top-nav-section .inner-wrapper .brand img {
  width: 100px;
  object-fit: cover;
  object-position: center;
}
.top-nav-section .inner-wrapper .profile {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #EFEFF0;
  padding: 5px 5px 5px 15px;
  border-radius: 50px;
}
.top-nav-section .inner-wrapper .profile .bi {
  font-size: 1.1rem;
  color: #FF4747;
}
.top-nav-section .inner-wrapper .profile .text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.top-nav-section .inner-wrapper .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.filter-section {
  margin: 0.5rem 0;
}
.filter-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.filter-section .inner-wrapper .bi-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  font-size: 1.1rem;
  color: #ddd;
}
.filter-section .inner-wrapper .form-control {
  height: 40px;
  border-radius: 50px;
  padding: 0.375rem 0.75rem 0.375rem 2.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
}
.filter-section .inner-wrapper .form-control::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  color: #ddd;
}
.filter-section .inner-wrapper .form-control:focus, .filter-section .inner-wrapper .form-control:active {
  box-shadow: none;
  outline: none;
}
.filter-section .inner-wrapper .btn-filter {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
.filter-section .inner-wrapper .btn-filter .bi {
  color: #767676;
}
.filter-section .inner-wrapper .btn-filter .bi::before {
  font-size: 1.75rem;
}

.home-slider-section {
  margin: 2rem 0;
}
.home-slider-section .home-slider .splide__slide .slide {
  border-radius: 15px;
  overflow: hidden;
}
.home-slider-section .home-slider .splide__slide .slide a {
  text-decoration: none;
}
.home-slider-section .home-slider .splide__slide .slide a img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.home-slider-section .home-slider .splide__pagination {
  bottom: -1.25em;
}
.home-slider-section .home-slider .splide__pagination .splide__pagination__page.is-active {
  background-color: #1FC39E;
}

.donate-list-section {
  padding: 1rem 0;
}
.donate-list-section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.donate-list-section .header .title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
.donate-list-section .header a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1rem;
}
.donate-list-section .list-group .list-group-item {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #eee;
}
.donate-list-section .list-group .list-group-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.donate-list-section .list-group .list-group-item:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
.donate-list-section .list-group .list-group-item .receiver {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.donate-list-section .list-group .list-group-item .receiver .content-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .icon.blue {
  background-color: #00BDC4;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .icon.purple {
  background-color: #C4004E;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .icon.green {
  background-color: #3AC400;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .text-block {
  flex: 1;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .text-block .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.donate-list-section .list-group .list-group-item .receiver .content-block .text-block .location {
  font-size: 0.75rem;
  font-weight: 300;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.donate-list-section .list-group .list-group-item .receiver .button-block {
  text-align: center;
}
.donate-list-section .list-group .list-group-item .receiver .button-block .cta-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: auto;
}
.donate-list-section .list-group .list-group-item .receiver .button-block .cta-btn .btn-text {
  font-size: 0.8rem;
  font-weight: 400;
}
.donate-list-section .list-group .list-group-item .receiver .button-block .cta-link {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 400;
  color: #767676;
}

.thank-section {
  height: 250px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../../images/mobile/home/thank-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  margin-bottom: 6rem;
}
.thank-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.thank-section .inner-wrapper .brand {
  text-decoration: none;
}
.thank-section .inner-wrapper .brand img {
  width: 100px;
  object-fit: cover;
  object-position: center;
}
.thank-section .inner-wrapper .profile {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #F7DA00;
  padding: 5px 5px 5px 15px;
  border-radius: 50px;
}
.thank-section .inner-wrapper .profile .bi {
  font-size: 1.1rem;
  color: #FF4747;
}
.thank-section .inner-wrapper .profile .text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.thank-section .inner-wrapper .profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.thank-section .title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin: 1.5rem 0 1rem;
}
.thank-section .thank-block {
  width: 90%;
  background-color: white;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  background-image: url("../../images/mobile/home/particles-left.svg"), url("../../images/mobile/home/particles-right.svg");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  left: 50%;
  bottom: -5rem;
  transform: translate(-50%, 0);
}
.thank-section .thank-block .text {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #333;
}
.thank-section .thank-block .image-block {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.thank-section .thank-block .image-block img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.thank-section .thank-block .image-block .bi {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FF4747;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: -15px;
}

.pagination-nav {
  width: 90%;
  margin: 1rem auto;
}
.pagination-nav .pagination .page-item.disabled .page-link {
  color: #767676;
}
.pagination-nav .pagination .page-item.active .page-link {
  color: #fff;
  background-color: #1FC39E;
}
.pagination-nav .pagination .page-item .page-link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #1FC39E;
  border-color: #ddd;
}

.section-no-data {
  margin: 1rem 0;
}
.section-no-data .inner-wrapper {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.section-no-data .inner-wrapper img {
  width: 100%;
  max-width: 318px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}
.section-no-data .inner-wrapper .text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #1FC39E;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
}

.request-list-section {
  margin: 1rem 0;
}
.request-list-section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.request-list-section .header .title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
.request-list-section .header a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 1rem;
}
.request-list-section .accordion .accordion-item {
  border: 1px solid #1FC39E;
  border-radius: 10px;
}
.request-list-section .accordion .accordion-item:not(:nth-last-child(1)) {
  margin-bottom: 0.75rem;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button::after {
  content: none;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  border: none;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button:focus, .request-list-section .accordion .accordion-item .accordion-header .accordion-button:active {
  box-shadow: none;
  outline: none;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .no {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .text {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .indicator.orange {
  background-color: #E78834;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .indicator.red {
  background-color: #FF0000;
}
.request-list-section .accordion .accordion-item .accordion-header .accordion-button .header-block .indicator.green {
  background-color: #3AC400;
}
.request-list-section .accordion .accordion-item .accordion-collapse .accordion-body {
  border-top: 1px solid #ddd;
}
.request-list-section .accordion .accordion-item .accordion-collapse .accordion-body .title {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  color: #333;
}
.request-list-section .accordion .accordion-item .accordion-collapse .accordion-body .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
}

.donation-info-section {
  margin: 1rem 0;
}
.donation-info-section .inner-wrapper {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
}
.donation-info-section .inner-wrapper .profile-block:nth-child(1) {
  border-bottom: 2px solid #E6E6FF;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
.donation-info-section .inner-wrapper .profile-block .title {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}
.donation-info-section .inner-wrapper .profile-block .profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.donation-info-section .inner-wrapper .profile-block .profile-info .dp {
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 1rem;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul li:nth-child(1) span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul li span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul li .th {
  width: 60px;
  display: inline-block;
}
.donation-info-section .inner-wrapper .profile-block .profile-info ul li .td {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.donation-info-section .inner-wrapper .profile-block .cta-link {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: underline;
  color: #2699FB;
  margin: 1rem 0 1rem calc(45px + 3rem);
}
.donation-info-section .inner-wrapper .profile-block .cat-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin: 1rem 0 2.5rem calc(45px + 3rem);
}
.donation-info-section .inner-wrapper .profile-block .cat-icon.blue {
  background-color: #00BDC4;
}
.donation-info-section .inner-wrapper .profile-block .cat-icon.purple {
  background-color: #C4004E;
}
.donation-info-section .inner-wrapper .profile-block .cat-icon.green {
  background-color: #3AC400;
}
.donation-info-section .inner-wrapper .profile-block .cta-btn {
  width: 90%;
  margin: auto;
}

.mobile-payment-section {
  margin: 1rem 0;
}
.mobile-payment-section .package-block {
  margin-bottom: 2rem;
}
.mobile-payment-section .package-block .title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #333;
}
.mobile-payment-section .package-block .package-slider .splide__slide {
  padding: 0.5rem 1.25rem 0.5rem 0;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package {
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  min-width: 110px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .form-check-input {
  margin: 0;
  top: 5px;
  left: 5px;
  border: none;
  width: 10px;
  height: 10px;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .form-check-input:checked {
  background: none;
  background-color: #1FC39E;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .form-check-input:active, .mobile-payment-section .package-block .package-slider .splide__slide .package .form-check-input:focus, .mobile-payment-section .package-block .package-slider .splide__slide .package .form-check-input:checked {
  box-shadow: none;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .header {
  background-color: #F8F8F8;
  padding: 15px 10px 5px;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .header .amount {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .header .amount span {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}
.mobile-payment-section .package-block .package-slider .splide__slide .package .body {
  padding: 5px 10px 8px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #1FC39E;
}
.mobile-payment-section .payment-block {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
.mobile-payment-section .payment-block .title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: #333;
}
.mobile-payment-section .payment-block .card-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.mobile-payment-section .payment-block .card-row:not(:nth-last-child(1)) {
  margin-bottom: 1.25rem;
}
.mobile-payment-section .payment-block .card-row .form-label {
  font-size: 0.7rem;
  font-weight: 300;
  background-color: #fff;
  padding: 0 0.5rem;
  margin: 0;
  position: absolute;
  top: -8px;
  left: 1rem;
}
.mobile-payment-section .payment-block .card-row .form-control {
  font-size: 0.9rem;
  font-weight: 300;
  height: 45px;
}
.mobile-payment-section .payment-block .card-row .form-control:focus, .mobile-payment-section .payment-block .card-row .form-control:active {
  border-color: #1FC39E;
  box-shadow: none;
}
.mobile-payment-section .payment-block .card-row .form-check .form-check-input {
  border-radius: 50%;
}
.mobile-payment-section .payment-block .card-row .form-check .form-check-input:checked {
  background-color: #1FC39E;
  border-color: #1FC39E;
}
.mobile-payment-section .payment-block .card-row .form-check .form-check-input:active, .mobile-payment-section .payment-block .card-row .form-check .form-check-input:focus {
  box-shadow: none;
}
.mobile-payment-section .payment-block .card-row .form-check .form-check-label {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
}
.mobile-payment-section .payment-block .card-row .form-check .form-check-label span {
  color: #767676;
  font-size: 0.7rem;
  font-weight: 300;
}
.mobile-payment-section .payment-block .card-row .footer-text {
  font-size: 0.7rem;
  font-weight: 400;
  width: fit-content;
  margin: auto;
  color: #B7B7B7;
}
.mobile-payment-section .payment-block .card-row .card-col {
  position: relative;
}
.mobile-payment-section .exp-timer {
  text-align: center;
  margin: 1rem 0 2rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.mobile-payment-section .cta-btn {
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.success-msg-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 105px);
}
.success-msg-section .inner-wrapper {
  width: 300px;
  margin: auto;
  text-align: center;
}
.success-msg-section .inner-wrapper .bi {
  color: #3AC400;
}
.success-msg-section .inner-wrapper .bi::before {
  font-size: 4rem;
}
.success-msg-section .inner-wrapper .title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #333;
  margin: 1.5rem 0 0.25rem;
}
.success-msg-section .inner-wrapper .amount {
  font-size: 1.8rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 0.5rem;
}
.success-msg-section .inner-wrapper .amount span {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.success-msg-section .inner-wrapper .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
  margin-bottom: 1.5rem;
}
.success-msg-section .inner-wrapper .cta-btn {
  margin: auto;
  width: 90px;
  border-radius: 5px;
}

.profile-menu-section .inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-menu-section .inner-wrapper .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}
.profile-menu-section .inner-wrapper .header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.profile-menu-section .inner-wrapper .header .text-block {
  flex: 1;
}
.profile-menu-section .inner-wrapper .header .text-block .text {
  font-size: 0.75rem;
  font-weight: 300;
  color: #333;
}
.profile-menu-section .inner-wrapper .header .text-block .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.profile-menu-section .inner-wrapper .header .btn-sign-out {
  text-decoration: none;
}
.profile-menu-section .inner-wrapper .header .btn-sign-out .bi {
  color: #767676;
}
.profile-menu-section .inner-wrapper .header .btn-sign-out .bi::before {
  font-size: 1.1rem;
}
.profile-menu-section .inner-wrapper .profile-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-menu-section .inner-wrapper .profile-menu .nav-item .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.profile-menu-section .inner-wrapper .profile-menu .nav-item .nav-link .text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.profile-menu-section .inner-wrapper .help-btn {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(31, 195, 158, 0.2);
  width: fit-content;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.profile-menu-section .inner-wrapper .help-btn .bi {
  color: #1FC39E;
}
.profile-menu-section .inner-wrapper .help-btn .bi::before {
  font-size: 2rem;
}
.profile-menu-section .inner-wrapper .help-btn .btn-text {
  font-weight: 300;
  font-size: 1rem;
  color: #1FC39E;
}

.donation-history-section {
  margin: 1rem 0;
}
.donation-history-section .accordion .accordion-item {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.donation-history-section .accordion .accordion-item:not(:nth-last-child(1)) {
  margin-bottom: 0.75rem;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button {
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  background-color: transparent;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  border: none;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button:focus, .donation-history-section .accordion .accordion-item .accordion-header .accordion-button:active {
  box-shadow: none;
  outline: none;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button .header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button .header-block .no {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ddd;
  font-size: 1rem;
  font-weight: 300;
  color: #333;
}
.donation-history-section .accordion .accordion-item .accordion-header .accordion-button .header-block .text {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.donation-history-section .accordion .accordion-item .accordion-collapse .accordion-body .col-6:nth-child(odd) {
  border-right: 1px solid #ddd;
}
.donation-history-section .accordion .accordion-item .accordion-collapse .accordion-body label {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #333;
}
.donation-history-section .accordion .accordion-item .accordion-collapse .accordion-body .text {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  color: #333;
}
.donation-history-section .accordion .accordion-item .accordion-collapse .accordion-body .text.completed .bi {
  color: #3AC400;
}
.donation-history-section .accordion .accordion-item .accordion-collapse .accordion-body .text.pending .bi {
  color: #E78834;
}

.notification-section {
  margin: 1rem 0;
}
.notification-section .list-group .list-group-item {
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0.75rem 0.5rem;
}
.notification-section .list-group .list-group-item::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  right: 0;
}
.notification-section .list-group .list-group-item .nav-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.25rem;
  gap: 1rem;
}
.notification-section .list-group .list-group-item .nav-link img {
  width: 75px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.notification-section .list-group .list-group-item .nav-link .text-block .subject {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.notification-section .list-group .list-group-item .nav-link .text-block .subject.red {
  color: #FF0000;
}
.notification-section .list-group .list-group-item .nav-link .text-block .subject.green {
  color: #3AC400;
}
.notification-section .list-group .list-group-item .nav-link .text-block .text {
  font-size: 0.7rem;
  font-weight: 300;
  color: #767676;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.notification-section .list-group .list-group-item .nav-link .bi {
  color: #333;
}
.notification-section .list-group .list-group-item .nav-link .bi::before {
  font-size: 1.1rem;
}

.thanks-section {
  padding: 1rem 0;
  position: relative;
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.thanks-section .inner-wrapper {
  width: 300px;
  text-align: center;
}
.thanks-section .inner-wrapper .title {
  font-size: 1rem;
  font-weight: 300;
  color: #3AC400;
  margin-bottom: 1rem;
}
.thanks-section .inner-wrapper .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
  margin-bottom: 1rem;
}
.thanks-section .inner-wrapper .media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.thanks-modal .modal-dialog .modal-content {
  background-color: #F6FAFF;
  box-shadow: 0 0 10px rgba(31, 195, 158, 0.2);
  border: none;
  border-radius: 10px;
}
.thanks-modal .modal-dialog .modal-content .modal-body {
  text-align: center;
}
.thanks-modal .modal-dialog .modal-content .modal-body img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: auto;
}
.thanks-modal .modal-dialog .modal-content .modal-body .title {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
  color: #333;
}
.thanks-modal .modal-dialog .modal-content .modal-body .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
  margin-bottom: 1rem;
}
.thanks-modal .modal-dialog .modal-content .modal-body .cta-btn {
  border-radius: 50px;
  margin: auto;
}

.bottom-nav-section {
  height: 56px;
}
.bottom-nav-section .inner-wrapper {
  background-color: #fff;
  padding: 0.5rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.bottom-nav-section .inner-wrapper .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bottom-nav-section .inner-wrapper .navbar-nav .nav-item .nav-link svg path {
  fill: #b7b7b7;
}
.bottom-nav-section .inner-wrapper .navbar-nav .nav-item .nav-link.active svg path {
  fill: #1FC39E;
}

.agent-bottom-nav-section {
  height: 80px;
}
.agent-bottom-nav-section .inner-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.agent-bottom-nav-section .inner-wrapper .add-btn {
  text-decoration: none;
  background-color: #1FC39E;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -27.5px;
  transform: translate(-50%, 0);
  line-height: 1;
}
.agent-bottom-nav-section .inner-wrapper .nav-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.agent-bottom-nav-section .inner-wrapper .nav-container::before {
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: block;
  margin: -35px auto 26px;
  box-shadow: 0 0 0 3000px #fff;
}
.agent-bottom-nav-section .inner-wrapper .nav-container .nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.agent-bottom-nav-section .inner-wrapper .nav-container .nav-block .navs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 37.5%;
}
.agent-bottom-nav-section .inner-wrapper .nav-container .nav-block .navs .nav-link svg path {
  fill: #b7b7b7;
}
.agent-bottom-nav-section .inner-wrapper .nav-container .nav-block .navs .nav-link.active svg path {
  fill: #1FC39E;
}
.agent-bottom-nav-section .inner-wrapper .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.agent-bottom-nav-section .inner-wrapper .navbar-nav::before {
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  margin: -80px auto 0;
  box-shadow: 0 0 0 3000px #fff;
}
.agent-bottom-nav-section .inner-wrapper .navbar-nav .nav-item .nav-link svg path {
  fill: #b7b7b7;
}
.agent-bottom-nav-section .inner-wrapper .navbar-nav .nav-item .nav-link.active svg path {
  fill: #1FC39E;
}

.app-bar-section {
  padding: 0.75rem 0;
  position: sticky;
  top: 0;
  background-color: #F9F9FB;
  z-index: 99;
}
.app-bar-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.app-bar-section .inner-wrapper .back-btn {
  text-decoration: none;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(0, -50%);
}
.app-bar-section .inner-wrapper .back-btn svg {
  color: #333;
}
.app-bar-section .inner-wrapper .title {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.form-section {
  margin: 1rem 0;
}
.form-section .frm-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.form-section .frm-row:not(:nth-last-child(1)) {
  margin-bottom: 1.25rem;
}
.form-section .frm-row .frm-col {
  position: relative;
  flex: 1;
}
.form-section .frm-row .frm-col-10 {
  position: relative;
  flex: 0 0 80%;
}
.form-section .frm-row .frm-col-2 {
  position: relative;
  flex: 0 0 20%;
}
.form-section .frm-row .title {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.form-section .frm-row .title.red {
  color: #FF0000;
}
.form-section .frm-row .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #767676;
  text-align: center;
  width: 80%;
  margin: 0 auto 0.5rem;
}
.form-section .frm-row .name {
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
}
.form-section .frm-row .star-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.form-section .frm-row .star-rating .bi {
  color: #FFC400;
}
.form-section .frm-row .form-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.form-section .frm-row .form-switch .form-check-input {
  margin: 0;
  padding: 0;
}
.form-section .frm-row .form-label {
  font-size: 0.7rem;
  font-weight: 300;
  background-color: #F9F9FB;
  padding: 0 0.5rem;
  margin: 0;
  position: absolute;
  top: -8px;
  left: 1rem;
}
.form-section .frm-row .form-label span {
  font-size: 0.7rem;
  font-weight: 300;
}
.form-section .frm-row .form-control,
.form-section .frm-row .form-select {
  font-size: 0.9rem;
  font-weight: 300;
  height: 45px;
  background-color: transparent;
}
.form-section .frm-row .form-control:focus, .form-section .frm-row .form-control:active,
.form-section .frm-row .form-select:focus,
.form-section .frm-row .form-select:active {
  border-color: #1FC39E;
  box-shadow: none;
}
.form-section .frm-row .form-group {
  margin: 0;
  padding: 1rem 0;
}
.form-section .frm-row .cta-btn {
  width: 100%;
  border-radius: 5px;
  height: 45px;
}

.table-section {
  margin: 2rem 0;
}
.table-section .mobile-table {
  width: 100%;
  border-collapse: collapse;
}
.table-section .mobile-table tbody .m-tr:not(:nth-last-child(1)) .m-td {
  border-bottom: 1px solid #ddd;
}
.table-section .mobile-table tbody .m-tr .m-td {
  padding: 0.5rem 0.25rem;
}
.table-section .mobile-table tbody .m-tr .m-td .bi.orange {
  color: #E78834;
}
.table-section .mobile-table tbody .m-tr .m-td .bi.green {
  color: #3AC400;
}
.table-section .mobile-table tbody .m-tr .m-td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.table-section .mobile-table tbody .m-tr .m-td .name {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.table-section .mobile-table tbody .m-tr .m-td .text {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.table-section .mobile-table tbody .m-tr .m-td .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.table-section .mobile-table tbody .m-tr .m-td .indicator.orange {
  background-color: #E78834;
}
.table-section .mobile-table tbody .m-tr .m-td .indicator.green {
  background-color: #3AC400;
}
.table-section .mobile-table tbody .m-tr .m-td .indicator.red {
  background-color: #FF0000;
}
.table-section .mobile-table tbody .m-tr .m-td .indicator.black {
  background-color: #222;
}

.profile-section {
  margin: 1rem 0;
}
.profile-section .inner-wrapper .header {
  position: relative;
  background: url("../../images/dashboard/receiver-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 150px;
  margin-bottom: 3rem;
}
.profile-section .inner-wrapper .header .back-edit {
  text-decoration: none;
  color: #fff;
  background-color: #1FC39E;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.profile-section .inner-wrapper .header .dp-block {
  width: fit-content;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, 0);
}
.profile-section .inner-wrapper .header .dp-block img {
  width: 90px;
  height: 90px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.profile-section .inner-wrapper .header .dp-block .dp-edit {
  text-decoration: none;
  color: #fff;
  background-color: #1FC39E;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.profile-section .inner-wrapper .dp-block {
  width: fit-content;
  margin: auto;
  position: relative;
  margin-bottom: 1rem;
}
.profile-section .inner-wrapper .dp-block img {
  width: 120px;
  height: 120px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.profile-section .inner-wrapper .dp-block .dp-edit {
  text-decoration: none;
  color: #fff;
  background-color: #1FC39E;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.profile-section .inner-wrapper .star-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.profile-section .inner-wrapper .star-rating .bi {
  color: #FFC400;
}
.profile-section .inner-wrapper .name {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 0.35rem;
}
.profile-section .inner-wrapper .status {
  background-color: #FFBB00;
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 400;
  color: white;
  line-height: 1;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin: auto;
}
.profile-section .inner-wrapper .btn-edit {
  text-decoration: none;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0.75rem auto 0;
  color: #333;
  font-size: 0.9rem;
  font-weight: 300;
}
.profile-section .inner-wrapper .btn-edit .bi {
  margin-right: 0.25rem;
}
.profile-section .inner-wrapper .info-table-wrapper {
  margin: 2rem 0;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  padding: 1rem 0;
}
.profile-section .inner-wrapper .info-table-wrapper .info-table {
  border-collapse: collapse;
  width: 100%;
}
.profile-section .inner-wrapper .info-table-wrapper .info-table tbody tr td {
  font-size: 0.8rem;
  font-weight: 300;
  color: #333;
  padding: 0.3rem;
}
.profile-section .inner-wrapper .info-table-wrapper .info-table tbody tr td:nth-last-child(1) {
  text-align: right;
}
.profile-section .inner-wrapper .sign-out-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: auto;
  text-decoration: none;
}
.profile-section .inner-wrapper .sign-out-btn .bi {
  color: #767676;
}
.profile-section .inner-wrapper .sign-out-btn .btn-text {
  font-size: 0.9rem;
  font-weight: 300;
  color: #333;
}
.profile-section .inner-wrapper .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/*# sourceMappingURL=mobile_main.css.map */
