.navigation-bar {
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.active {
        background-color: rgba($color: #fff, $alpha: 1);
    }

    .navbar-brand {
        .logo {
            width: 120px;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            gap: 1rem;
            align-items: center;

            .nav-item {
                .nav-link {
                    font-size: .9rem;
                    font-weight: 400;
                    color: $text-black;
                    transition: all .2s ease-in-out;

                    &.active {
                        color: $primary-green;
                    }

                    &.cta-btn {
                        width: 125px;
                        text-align: center;
                    }

                    &:hover {
                        color: $primary-green;
                    }
                }

                &.nav-drop {
                    .drop-profile {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 45px;
                            height: 45px;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                            border: 2px solid $white;
                        }

                        .name {
                            font-size: .9rem;
                            font-weight: 400;
                        }
                    }

                    .dropdown-menu {
                        overflow: hidden;
                        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                        border: none;
                        border-radius: 5px;
                        padding: 1rem 0;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 3px;
                            background-color: $primary-green;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        .dropdown-item {
                            .profile-link {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1rem;
                                font-size: .9rem;
                                font-weight: 400;
                                color: $gray;
                            }

                            &:hover {
                                .profile-link {
                                    color: $text-black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .navigation-bar {
        background-color: rgba($color: #fff, $alpha: 1);

        .navbar-collapse {
            margin: 1rem 0;

            .navbar-nav {
                gap: .5rem;
            }
        }
    }
}
