#aizUploaderModal {
    .modal-header {
        min-height: unset;
        flex-direction: column-reverse;
        gap: 0.5rem;
    }
    .nav-tabs-mobile {
        flex-wrap: nowrap;

        .nav-link {
            padding: 0.5rem 0.75rem;
            white-space: nowrap;
        }
    }

    .mobile-filters {
        flex-direction: column;
        gap: 0.75rem;

        .filter-col {
            width: 100%;
            flex: 0 0 100%;
            max-width: unset;

            .aiz-uploader-search input {
                height: auto;
                top: unset;
                bottom: 0;
            }
        }
    }

    .aiz-upload-msg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 99;
        height: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .inner-wrapper {
            .title {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }

            .aiz-list {
                li {
                    font-size: 0.85rem;
                    font-weight: 400;
                    margin-bottom: 0.25rem;

                    span {
                        font-weight: 600;
                    }
                }
            }

            .cta-btn {
                border-radius: 50px;
                background-color: #1a7ee9;
                color: #fff;
                font-size: 0.9rem;
                border: none;
                padding: 0.5rem 1rem;
            }
        }
    }
}
