.profile-section {
    margin: 1rem 0;

    .inner-wrapper {
        .header {
            position: relative;
            background: url("../../images/dashboard/receiver-back.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            height: 150px;
            margin-bottom: 3rem;

            .back-edit {
                @include edit-image;
                top: 0.5rem;
                right: 0.5rem;
            }

            .dp-block {
                width: fit-content;
                position: absolute;
                bottom: -90px;
                left: 50%;
                transform: translate(-50%, 0);

                img {
                    width: 150px;
                    height: 150px;
                    object-position: top;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }

                .dp-edit {
                    @include edit-image;
                    top: 0;
                    right: 0;
                }
            }
        }

        .dp-block {
            width: fit-content;
            margin: auto;
            position: relative;
            margin-bottom: 1rem;

            img {
                width: 120px;
                height: 120px;
                object-position: center;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid $white;
            }

            .dp-edit {
                @include edit-image;
                top: 0;
                right: 0;
            }
        }

        .star-rating {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-bottom: 0.5rem;

            .bi {
                color: #ffc400;
            }
        }

        .name {
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            color: $text-black;
            margin-bottom: 0.35rem;
        }

        .status {
            width: fit-content;
            font-size: 0.7rem;
            font-weight: 400;
            color: white;
            line-height: 1;
            padding: 0.5em 1em;
            border-radius: 20px;
            margin: auto;

            &.yellow {
                background-color: $yellow;
            }

            &.green {
                background-color: $green;
            }

            &.maroon {
                background-color: $maroon;
            }
        }

        .profile-info {
            font-size: 0.8rem;
            font-weight: 300;
            color: $gray;
            text-align: center;
            margin-top: 0.75rem;
        }

        .btn-edit {
            text-decoration: none;
            text-align: center;
            display: block;
            width: fit-content;
            margin: 0.75rem auto 0;
            color: $text-black;
            font-size: 0.9rem;
            font-weight: 300;

            .bi {
                margin-right: 0.25rem;
            }
        }

        .info-table-wrapper {
            margin: 2rem 0;
            border-width: 1px 0 1px 0;
            border-style: solid;
            border-color: $light-gray;
            padding: 1rem 0;

            .info-table {
                border-collapse: collapse;
                width: 100%;

                tbody {
                    tr {
                        td {
                            font-size: 0.8rem;
                            font-weight: 300;
                            color: $text-black;
                            padding: 0.3rem;

                            &:nth-last-child(1) {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        .sign-out-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: fit-content;
            margin: auto;
            text-decoration: none;

            .bi {
                color: $gray;
            }

            .btn-text {
                font-size: 0.9rem;
                font-weight: 300;
                color: $text-black;
            }
        }

        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 10px;
            max-width: 100%;
            overflow: hidden;

            img {
                width: 100px;
                height: 75px;
                object-fit: cover;
                object-position: center;
            }
        }

        .charity-block {
            margin: 2rem 0;

            .title {
                font-size: 0.9rem;
                font-weight: 400;
                color: $text-black;
                margin-bottom: 1rem;
            }

            .accordion {
                .accordion-item {
                    border: 1px solid $primary-green;
                    border-radius: 10px;

                    &:not(:nth-last-child(1)) {
                        margin-bottom: 0.75rem;
                    }

                    .accordion-header {
                        .accordion-button {
                            border: none;
                            box-shadow: none;
                            background-color: transparent;

                            &::after {
                                content: none;
                            }

                            &.collapsed {
                                border: none;
                            }

                            &:focus,
                            &:active {
                                box-shadow: none;
                                outline: none;
                            }

                            .header-block {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 2rem;
                                width: 100%;

                                .no {
                                    background-color: $white;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    border: 1px solid $light-gray;
                                    font-size: 1rem;
                                    font-weight: 300;
                                    color: $text-black;
                                }

                                .text {
                                    flex: 1;
                                    font-size: 0.9rem;
                                    font-weight: 300;
                                    color: $text-black;
                                }

                                .indicator {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;

                                    &.orange {
                                        background-color: $orange;
                                    }

                                    &.red {
                                        background-color: $red;
                                    }

                                    &.green {
                                        background-color: $green;
                                    }
                                }
                            }
                        }
                    }

                    .accordion-collapse {
                        .accordion-body {
                            border-top: 1px solid $light-gray;

                            .title {
                                font-size: 0.9rem;
                                font-weight: 400;
                                margin-bottom: 0.25rem;
                                color: $text-black;
                            }

                            .text {
                                font-size: 0.8rem;
                                font-weight: 300;
                                color: $gray;
                            }
                        }
                    }
                }
            }
        }

        .cta-btn {
            width: 100%;
            height: 45px;
        }
    }
}
