.contact-section {
    .header {
        padding: 8rem 0 17.5rem;
        background-color: rgba($color: $primary-green, $alpha: 0.7);
        position: relative;

        .text-block {
            width: 80%;
            margin: auto;
            text-align: center;

            .title {
                font-size: 2.25rem;
                margin-bottom: 0.25rem;
                font-weight: 400;
                color: $white;
            }

            .text {
                font-size: 1rem;
                font-weight: 300;
                color: $text-black;
            }
        }

        .grid-left {
            position: absolute;
            left: 5%;
            bottom: 15%;
        }

        .grid-right {
            position: absolute;
            right: 1%;
            bottom: -25%;
        }
    }

    .body {
        .contact-block {
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba($color: $primary-green, $alpha: 0.25);
            display: flex;
            flex-direction: row;
            gap: 4rem;
            position: relative;
            z-index: 1;
            background-color: $white;
            margin-top: -12.5rem;
            margin-bottom: 5rem;

            .contact-info {
                padding: 2rem;
                border-radius: 10px;
                background-color: $primary-green;
                position: relative;
                overflow: hidden;
                flex: 0 0 35%;

                .title {
                    font-size: 1.2rem;
                    margin-bottom: 0.25rem;
                    color: $white;
                    position: relative;
                    z-index: 1;
                }

                .text {
                    font-size: .8rem;
                    font-weight: 300;
                    color: $white;
                    position: relative;
                    z-index: 1;
                }

                .contact-info {
                    padding: 0;
                    list-style: none;
                    margin: 2rem 0 1rem;
                    position: relative;
                    z-index: 1;

                    .contact-link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        font-size: .9rem;
                        font-weight: 300;
                        margin-bottom: 0.5em;
                        text-decoration: none;
                        color: $white;
                    }
                }

                .social-media {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    position: relative;
                    z-index: 1;

                    .social-link {
                        text-decoration: none;
                        color: $primary-green;
                        background-color: $white;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }

                img {
                    position: absolute;
                    transform: rotate(270deg);
                    bottom: -10%;
                    right: -10%;
                    width: 300px;
                    opacity: 0.45;
                    z-index: 0;
                }
            }

            .contact-form {
                padding: 2rem 0;

                .form-label {
                    margin-bottom: 0.25rem;
                    font-size: .8rem;
                    font-weight: 400;
                    color: $gray;

                    &.message {
                        text-transform: uppercase;
                        color: $primary-green;
                    }
                }

                .form-check-label {
                    font-size: .8rem;
                    font-weight: 300;
                    color: #777;
                }

                .form-control {
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid $light-gray;
                    font-size: 1rem;
                    color: $text-black;
                    font-weight: 300;
                    resize: none;

                    &:focus,
                    &:active {
                        box-shadow: none;
                        outline: none;
                        border-bottom: 1px solid $primary-green;
                    }

                    &::placeholder {
                        color: $gray;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .contact-section {
        .body {
            .contact-block {
                flex-direction: column;
            }
        }
    }
}
